<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy</title>
  </head>
  <body>
    <h2>Puppy Name:</h2>
    <h3><%= @new_puppy.name %></h3>
    <h2>Puppy Breed:\n<%= @new_puppy.breed %></h2>
    <!-- <h3></h3> -->
    <h2>Puppy Age:</h2>
    <h3><%= @new_puppy.age %></h3>
  </body>
</html>
